{% extends 'base.html' %}
{% block title %}Melon Tasting Reservations Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/schedule">View Calendar</a></li>
    <li><a href="/booking">View Booking Availabiliy</a></li>
    <li><a href="/events">View Your Booked Events</a></li>
  </ul>

    <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

    <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <!-- <form action="/get-email" method="get">
    <div>
      <label for="namefield">What's your email?</label>
      <input id="namefield" type="text" name="email" required />
    </div>
    <div> -->
      <!-- removed extra "/" -->
      <!-- <input type="submit">
    </div>
  </form> -->

  <!-- <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->
{% endblock %}
